node_modules/
.venv/
venv/
__pycache__/
*.pyc
.env
.env.local
dist/
build/
.next/
.next-alt/
.next-build/
.DS_Store
Thumbs.db
.vscode/
.idea/

*.tsbuildinfo
next-env.d.ts
data/*.graphml
.env*.local

# Caché de OSMnx / descargas
cache/
